@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/line-clamp;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.slick-dots {
    display: none !important;
}

.slick-prev {
    left: 10px;
    z-index: 99;
}

.slick-prev::before {
    color: red;
    content: '\276E';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 199, 199, 0.8);
    width: 50px;
    height: 50px;
    color: gray;
    font-size: 30px;
}

.slick-next {
    z-index: 99;
    right: 50px;
}

.slick-next::before {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 199, 199, 0.8);
    width: 50px;
    height: 50px;
    color: gray;
    content: '\276F';
    font-size: 30px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}